<!DOCTYPE html>
<html lang="en">

{% include 'head.html' %}

<style>
#wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrapper #content-wrapper {
  overflow-x: hidden;
  width: 100%;
  padding-top: 100px;
  padding-left: 100px;
}

.sidebar {
  width: 90px !important;
  padding-top: 100px;
  background-color: #212529;
  min-height: calc(100vh - 56px);
}

.sidebar .nav-item:last-child {
  margin-bottom: 1rem;
}

.sidebar .nav-item .nav-link {
  text-align: center;
  padding: 0.75rem 1rem;
  width: 90px;
}

.sidebar .nav-item .nav-link span {
  font-size: 0.65rem;
  display: block;
}


.sidebar .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.sidebar .nav-item .nav-link:active, .sidebar .nav-item .nav-link:focus, .sidebar .nav-item .nav-link:hover {
  color: rgba(255, 255, 255, 0.75);
}

</style>

<script>
$(document).ready(function(){
  $("#toggleFind").click(function(){
    $("#findEvents").removeClass('d-none')
    $("#attendingEvents").addClass('d-none')
    $("#upcomingEvents").addClass('d-none')
    $("#pastEvents").addClass('d-none')
  });
});

$(document).ready(function(){
  $("#toggleAttending").click(function(){
    $("#attendingEvents").removeClass('d-none')
    $("#findEvents").addClass('d-none')
    $("#upcomingEvents").addClass('d-none')
    $("#pastEvents").addClass('d-none')
  });
});

$(document).ready(function(){
  $("#toggleUpcoming").click(function(){
    $("#upcomingEvents").removeClass('d-none')
    $("#findEvents").addClass('d-none')
    $("#attendingEvents").addClass('d-none')
    $("#pastEvents").addClass('d-none')
  });
});

$(document).ready(function(){
  $("#togglePast").click(function(){
    $("#pastEvents").removeClass('d-none')
    $("#findEvents").addClass('d-none')
    $("#attendingEvents").addClass('d-none')
    $("#upcomingEvents").addClass('d-none')
  });
});
</script>

{% block body %}
<body>

  {% include 'navbar.html' %}


  <!-- Page Content -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#findEvents" id="toggleFind">
          <i class="fas fa-fw fa-search"></i>
          <span>Find Event Details</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#attendingEvents" id="toggleAttending">
          <i class="far fa-fw fa-calendar-check"></i>
          <span>Attending Events</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#upcomingEvents" id="toggleUpcoming">
          <i class="far fa-fw fa-calendar-alt"></i>
          <span>Upcoming Events</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#pastEvents" id="togglePast">
          <i class="far fa-fw fa-calendar-times"></i>
          <span>Past Events</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">

        <div class="row text-center flex-column justify-content-center" id="findEvents">

          <div class="col-lg-12 col-md-12 col-sm-12 col-12">

            <div class="mx-auto">
              <h1 class="font-weight-light" style="padding-bottom: 50px">Find Event Details</h1>
            </div>

              
            <div class="row flex-row">
                <div class="mx-auto">
                  <h5>Initiate a Search based on `Event ID`</h5>

                  <br>
                  <form class="d-inline-block form-inline"
                        method="POST" action='/events'>
                    <div class="input-group">
                      <input type="text" 
                             name="e_id"
                             class="form-control" 
                             placeholder="Search Event..." 
                             aria-label="Search" 
                             aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="mx-auto">

                  <h5>Initiate a Search based on `Category`</h5>

                  <br>
                  <form class="d-inline-block form-inline"
                        method="POST" action='/events'>
                    <div class="input-group">
                      <input type="text" 
                             name="category"
                             class="form-control" 
                             placeholder="Search Category..." 
                             aria-label="Search" 
                             aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                          <i class="fas fa-search"></i>
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
            </div>

          </div>
        </div>
        <!-- /.row -->


        <div class="row d-none text-center flex-column" id="attendingEvents" style="padding-bottom: 50px">
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">

            <div class="row justify-content-center">
              <h1 class="font-weight-light" style="padding-bottom: 50px">Attending Events</h1>
            </div>

            <div class="row" style="max-height: 1000px">

              {% if favs %}
              
                {% for n in favs %}

                  <div class="col-lg-4 col-md-6 col-sm-12 col-12 
                        offset-lg-0 offset-md-0 mb-4">
                    <div class="card h-100">
                      <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                      <div class="card-body">
                        <h3 class="card-title">{{n['name']}}</h3>
                        <h6 class="card-text">{{n['location']}}</h6>
                        <form method="POST" action='/events'>
                          <h6 class="font-weight-light">Click here to find out more:
                            <input type="submit" name="e_id" value={{n['event_id']}} placeholder="More info" class="btn btn-primary">
                          </h6>
                        </form>
                        <br>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" style="font-size: 13px">Event ID: {{n['event_id']}}</li>
                          <li class="list-group-item" style="font-size: 13px">Date: {{n['event_date']}}</li>
                          <li class="list-group-item" style="font-size: 13px">Start Time: {{n['start_time']}} | End Time: {{n['end_time']}}</li>
                          <li class="list-group-item" style="font-size: 13px">Category: {{n['category']}}</li>
                        </ul>
                      </div>
                      <div class="card-footer">
                        <a href="{{n['ticket_url']}}" class="btn btn-primary">Get your tickets!</a>
                      </div>
                    </div>
                  </div>

                {% endfor %}

              {% else %}

                <h3 class="font-weight-light" style="padding-bottom: 25px; color:black">No Events in your Future...</h3>

              {% endif %}

            </div>

          </div>
        </div>

        <div class="row d-none text-center flex-column" id="upcomingEvents" style="padding-bottom: 50px">
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">

            <div class="row justify-content-center">
              <h1 class="font-weight-light" style="padding-bottom: 50px">Upcoming Events</h1>
            </div>

            <div class="row" style="max-height: 1000px">

              {% if others %}

                {% for n in others %}

                  <div class="col-lg-4 col-md-6 col-sm-12 col-12 
                              offset-lg-0 offset-md-0 mb-4">
                    <div class="card h-100">
                      <img class="card-img-top" src="http://placehold.it/500x325" alt="">
                      <div class="card-body">
                        <h3 class="card-title">{{n['name']}}</h3>
                        <h6 class="card-text">{{n['location']}}</h6>
                        <form method="POST" action='/events'>
                          <div class="input-group">
                            <label for="m_id" class="form-control" >Click button for more...</label>
                            <input type="submit" name="e_id" value={{n['event_id']}} placeholder="More info" class="btn btn-primary">
                          </div>
                        </form>
                        <br>
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item" style="font-size: 13px">Event ID: {{n['event_id']}}</li>
                          <li class="list-group-item" style="font-size: 13px">Date: {{n['event_date']}}</li>
                          <li class="list-group-item" style="font-size: 13px">Start Time: {{n['start_time']}} | End Time: {{n['end_time']}}</li>
                          <li class="list-group-item" style="font-size: 13px">Category: {{n['category']}}</li>
                        </ul>
                      </div>
                      <div class="card-footer">
                        <a href="{{n['ticket_url']}}" class="btn btn-primary">Get your tickets!</a>
                      </div>
                    </div>
                  </div>

                {% endfor %}

                {% else %}

                  <h3 class="font-weight-light" style="padding-bottom: 25px; color:black">No Upcoming Events...</h3>

                {% endif %}
            </div>

          </div>
        </div>

        <div class="row d-none text-center flex-column" id="pastEvents">
          <div class="col-lg-10 col-md-10 col-sm-10 col-10">

            <h1 class="font-weight-light" style="padding-bottom: 50px">Past Events</h1>

            <div class="col-lg-8 col-md-12 col-sm-12 col-12
                        offset-lg-2">

              {% if past %}

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" 
                        data-slide-to="0" 
                        style="background-color: gray"
                        class="active"></li>
                  </ol>

                    <div class="carousel-inner" style="padding-left: 40px; padding-right: 40px">

                      {% for n in past %}

                          <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">

                                <div class="card h-100">
                                  <div class="card-body">
                                    <h4 class="card-title">{{n['name']}} </h4>
                                    <h6 class="card-text">{{n['location']}}</h6>
                                    <form method="POST" action='/events'>
                                      <div class="input-group">
                                        <label for="m_id" class="form-control" >Click button for more...</label>
                                        <input type="submit" name="e_id" value={{n['event_id']}} placeholder="More info" class="btn btn-primary">
                                      </div>
                                    </form>
                                    <br>
                                    <ul class="list-group list-group-flush">
                                      <li class="list-group-item" style="font-size: 13px">Event ID: {{n['event_id']}}</li>
                                      <li class="list-group-item" style="font-size: 13px">Date: {{n['event_date']}}</li>
                                      <li class="list-group-item" style="font-size: 13px">Start Time: {{n['start_time']}} | End Time: {{n['end_time']}}</li>
                                      <li class="list-group-item" style="font-size: 13px">Category: {{n['category']}}</li>
                                    </ul>
                                    <br><br>
                                  </div>
                                </div>

                        </div>
                  
                    {% endfor %}

                    </div>

                    <a class="carousel-control-prev" 
                       href="#carouselExampleIndicators" 
                       role="button" 
                       data-slide="prev"
                       style="background-color: gray; 
                            width: 35px; 
                            height:35px;
                            top: 40%">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>

                    <a class="carousel-control-next" 
                       href="#carouselExampleIndicators" 
                       role="button" 
                       data-slide="next"
                       style="background-color: gray; 
                            width: 35px; 
                            height:35px;
                            top: 40%">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>

                </div>

                {% else %}

                  <h3 class="font-weight-light" style="padding-bottom: 25px; color:black">No Past Events...</h3>

                {% endif %}

            </div>
          </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->
  <!-- /.container -->

  {% include 'footer.html' %}

</body>
{% endblock %}

</html>
